
{% extends 'base_sanscommentaire.html' %}
{% block headerDocument%}
{% load leaflet_tags %}
{% load static %}
{%endblock%}
{%block header %}
{% leaflet_js %}
{% leaflet_css %}
{%endblock%}
{% block title %}Profil de {{ user.username }} {% endblock %}

{% block content %}
<div class="site-section">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-lg-10 mb-5">
            <div class="site-section-heading" data-aos="fade-up">
{% if user == request.user %}
                <h2 class="text-center">Mon profil </h2>
{% else %}
                <h2 class="text-center">Profil de {{ user.username }}</h2>
{% endif %}
            </div>
          </div>
        </div>


<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10">
      {%if request.user == user %}
        <a href="{% url 'profil_modifier' %}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
            </button>
        </a>
      {%endif%}
      <table class="table table-condensed tablepanier table-striped">
          <tbody>

        <tr>
            <td style="width:250px">Pseudo :</td>
            <td>{{ user.username }}</td>
        </tr>

        {%if user.accepter_annuaire  or request.user == user %}
              {% if user.get_full_name %}
                <tr>
                    <td style="width:250px">Nom :</td>
                    <td>{{ user.get_full_name }}</td>
                </tr>
              {% endif %}
              {% if user.adresse.telephone %}
                <tr>
                    <td style="width:250px">Telephone *:</td>
                    <td>{{ user.adresse.telephone }}</td>
                </tr>
              {% endif %}
            <tr>
                <td style="width:250px">Email :</td>
                <td>{{ user.email }}</td>
            </tr>

              {% if user.description %}
                    <tr>
                        <td style="width:250px">Description :</td>
                        <td>{{ user.description|safe }}</td>
                    </tr>
              {% endif %}
        {%if user.commune %}
            <tr>
                <td style="width:250px">Commune :</td>
                <td>{{ user.commune }}</td>
            </tr>
            {% endif %}
            {%if user.code_postal %}
            <tr>
                <td style="width:250px">Code postal :</td>
                <td>{{ user.code_postal }}</td>
            </tr>
            {% endif %}
            </tr>

        {% endif %}
      </tbody>
      </table>

      </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 textcenter">

            <a href="{% url 'logout' %}" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">Se déconnecter</a>
    </div>
</div>
    </div>
</div>



{% endblock %}

    
