{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load fontawesome %}
{%block header %}
 <script src="{% static 'js/cookielaw.js'%}" type="text/javascript"></script>
{%endblock%}



{% block content %}

<div id="titre" class="section lb">
    <div class="container-fluid">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
            <small></small>
            <h3>Bénévoles</h3>
            <hr class="grd1">
            <p class="lead">Rejoignez-nous !</p>
            </div>
        </div><!-- end title -->
    </div>
</div>

            <section class="section smallpad cac text-center paddingbot">
                <a href="{% url 'inscription_benevole' %}"><h3>Je souhaite devenir bénévole, et je m'enregistre ici</h3></a>
            </section>

        <hr class="hr1">

{% endblock %}
