{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load fontawesome %}
{%block header %}
 <script src="{% static 'js/cookielaw.js'%}" type="text/javascript"></script>
{%endblock%}


{% block content %}

<div id="titre" class="section lb">
    <div class="container-fluid">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
            <small></small>
            <h3>Exposants / Intervenant</h3>
            <hr class="grd1">
            <p class="lead">Vous voulez tenir un stand, proposer un atelier, présenter votre association, faire une conférence...</p>
            </div>
        </div><!-- end title -->
    </div>
</div>
<section class="section smallpad cac text-center paddingbot">
    <a href="{% url 'inscription_exposant' %}"><h3>Je souhaite participer en tant qu'exposant, je m'enregistre ici<</h3></a>
</section>

        <hr class="hr1">

{% endblock %}



