{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<!-- Page Content -->
<div id="page-content-wrapper">

    <div id="contact" class="section wb">
        <div class="container-fluid">
            <div class="section-title row text-center">
                <div class="col-md-8 col-md-offset-2">
                <small>LET'S MAKE AN CONTACT FOR YOUR LIFE</small>
                <h3>Contact</h3>
                <hr class="grd1">
                <p class="lead">Pour toute question/suggestion/remarque/insulte, veuillez remplir le formulaire suivant</p>
                </div>
            </div><!-- end title -->

        {% include 'form_template.html' with nomBouton="envoyer" %}

        </div><!-- end container -->
    </div><!-- end section -->

</div>

{% endblock %}